<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    
    <profiles>
        <profile>
            <id>CustomProfile</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
